.lavie {
    background-color: white;
}
.choix {
    margin: auto 100px 100px 100px;
    background-color: gray;
    border-radius: 15px;
    width: 400px;
    height: 400px;
}
label {
    font-weight: bolder;
    font-size: medium;

}
input {
    border-radius: 15px;
    border-color: white;
    padding-left: 15px;
}
select {
    font-weight: 150px;
    font-size: 15px;
    width: 150px;
}
#moi {
    margin-bottom: 200px;
}
#one {
    text-align: center;
}
#lui {
    border: none;
}