* {
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
    --primarycolor : gray;
}
  #numb1 {
    background-color: aquamarine;
    width: 100%;

}

@media screen  and (max-width: 750px) and (min-width: 400px) {
    #numb1 {
        background-color: chocolate;
    }
    
}